[Unit]
Description=uWSGI instance to serve Horizon dashboard
After=network.target syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --emperor /etc/uwsgi.d/horizon
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
