server {
	listen {{ horizon_nginx_bind }}:{{ horizon_public_port }} default_server;
	server_name localhost;

	location / {
		include uwsgi_params;
		uwsgi_pass 127.0.0.1:{{ horizon_internal_port }};
		uwsgi_param SCRIPT_NAME /;
	}

}
