uwsgi:
  socket: {{ horizon_internal_bind |default('127.0.0.1') }}:{{ horizon_internal_port }}
  processes: {{ horizon_uwsgi_processes }}
  threads: {{ horizon_uwsgi_threads }}
  harakiri: {{ horizon_uwsgi_harakiri }}
  max-requests: {{ horizon_uwsgi_max_requests }}

  master: true
  enable-threads: true
  thunder-lock: true
  honour-stdin: true
  memory-report: false
  vacuum: true
  die-on-term: true
  env: LANG=en_US.UTF-8

  name: horizon-dashboard
  uid: {{ horizon_user }}
  gid: {{ horizon_group }}

  home: {{ working_dir }}/virtualenvs/horizon
  chdir: {{ working_dir }}/virtualenvs/horizon/lib/python2.7/site-packages
  wsgi-file: openstack_dashboard/wsgi/django.wsgi

  daemonize: {{ horizon_log | default('/var/log/horizon/horizon.log') }}
